openapi: 3.0.3
info:
  title: Sync Labs Assets Models API
  description: The Sync Labs API provides studio-grade AI lip-sync and visual dubbing capabilities. Generate perfectly synchronized lip movements for any video and audio input using state-of-the-art models. Supports single generation, batch processing, asset management, and webhook notifications. Used for video localization, content dubbing, personalized video, and educational content translation.
  version: v2
  contact:
    name: Sync Labs Support
    email: hello@sync.so
    url: https://sync.so
  license:
    name: Commercial
    url: https://sync.so/terms
servers:
- url: https://api.sync.so/v2
  description: Sync Labs API v2
security:
- ApiKeyAuth: []
tags:
- name: Models
  description: Available AI model listing
paths:
  /models:
    get:
      summary: List Available Models
      description: Retrieve the list of available AI lip-sync models and their capabilities
      operationId: listModels
      tags:
      - Models
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Unauthorized - missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ModelId:
      type: string
      enum:
      - sync-3
      - lipsync-2-pro
      - lipsync-2
      - lipsync-1.9
      - react-1
      description: AI model identifier
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Human-readable error description
        request_id:
          type: string
          description: Request ID for support reference
    Model:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ModelId'
        name:
          type: string
          description: Human-readable model name
        description:
          type: string
          description: Model capabilities and use cases
        max_resolution:
          type: string
          description: Maximum face resolution supported
        max_duration_seconds:
          type: integer
          description: Maximum video duration in seconds
        cost_per_second:
          type: number
          format: float
          description: Cost per second of generated video in USD
        supports_batch:
          type: boolean
          description: Whether the model supports batch processing
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key from https://sync.so/settings/api-keys
